@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap|family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: #002c6f;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}

header {
  background-color: #002c6f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  transition: border-bottom 0.3s ease-in-out;
}

header:hover {
  background-color: #002c6f;
  color: #ffffff;
  border-bottom: 2px solid #00102a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background: #f5f5f5;*/
  flex-direction: column;
}

/* CSS */
.button-52 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  /* font-weight: bold; */
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #ffffff;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s;
  margin-bottom: 20px;
}

.button-52:after {
  content: "";
  background-color: #ffffff;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
