* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-color: #052d23;
}

h1 {
  text-align: center;
  color: #000000;
  margin-top: 20px;
  font-size: 40px;
}

header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #000000;
  transition: border-bottom 0.3s ease-in-out;
  position: fixed;
}

header:hover {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px solid #ffffff;
  transition: 0.6s;
}

main {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.premium,
.non-premium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /*margin-top: 30vh;*/
}

button {
  background-color: #052d23;
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 5px;
  margin: 7px 0;
  width: 40vw;
  font-size: 18px;
  border: 1px solid white;
  z-index: 2;
  transition: 0.7s;
}
button:hover {
  background-color: #daff99;
  cursor: pointer;
  transition: 0.7s;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-weight: bold;
}

table,
th,
td {
  border: 1px solid #0a0a0a;
  padding: 8px;
}

th {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

th:hover {
  background-color: #002c6f;
  color: #ffffff;
}

/*tr:nth-child(even) {*/
/*  background-color: #ffffff;*/
/*}*/

tr {
  background-color: #ffffff;
  color: #002c6f;
}
