@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* user select text should be red */
    /* copy color */
}

h1 {
    font-size: 3.5rem;
}

/* h1 {
  font-size: 4.25rem;
} */
h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.625rem;
}

body {
    background-color: #052d23;

        font-family: system-ui, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 1em;
    /* max-width: 800px; */
    /* background-color: #5cdb94; */

    /*background-blend-mode: color-burn;*/
    color: white;
}

header {
    /* background-color: #052d23; */
    /* background-color: #05396b; */
    /* background: linear-gradient(145deg, rgb(119, 46, 195), rgb(58, 18, 153)); */
    /* background-clip: text; */

    text-align: center;
    opacity: 0.7;
    /* padding: 10px; */
    /* top: 0; */
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #414141;
    /* font-size: 20px; */
    /* font-family: "Roboto", sans-serif; */

    /*margin: 10px;*/
    /*transition: border-bottom 0.3s ease-in-out;*/
}

header:hover {
    color: #ffffff;
    /*background-color: #ffffff;*/
    /*color: #000000;*/
    /* opacity: 1; */
    border-bottom: 1px solid #000000;
    /*text-decoration-thickness: 0.1em;*/
    /*text-decoration-color: #6db33f;*/
    /*text-decoration-style: solid;*/
    /*text-decoration-line: underline;*/
    /*text-underline-offset: .5em;*/
    transition: 0.6s;
}
.body-container{
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("https://i.pinimg.com/236x/44/3b/f6/443bf6386972bb770e3522ff7eae8e7f.jpg");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    flex-direction: column;

}

button {
    background-color: black;
    color: #ffffff;
    padding: 14px 20px;

    margin: 7px 0;
    gap: 10px;
    width: 30%;
    font-size: 1rem;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 700;

    z-index: 2;
    border-radius: 5px;
}

button:hover {
    background-color: #daff99;
    cursor: pointer;
    transition: 0.7s;
    color: black;

}

