body {
  font-family: Calibri, sans-serif;
  background-color: #052d23;
  color: #ffffff;
}

h1 {
  text-align: center;
}

form {
  width: 35rem;
  margin: auto;
  color: #000000;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(143, 163, 151);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px 25px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
  outline: #052d23;
}

button {
  background-color: #052d23;
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 5px;
  margin: 7px 0;
  width: 100%;
  font-size: 18px;
}
button:hover {
  background-color: #daff99;
  cursor: pointer;
  transition: 0.7s;
  color: black;
}

/*button:hover {*/
/*  opacity: 0.6;*/
/*  cursor: pointer;*/
/*  !*background-color: #FB5FFB;*!*/
/*  !*transition-timing-function: ease-in-out;*!*/

/*  !* Quick on the way out *!*/
/*  !*transition: 1s;*!*/
/*  color: #86E3E7;*/
/*  font-weight: bold;*/
/*}*/

.headingsContainer {
  text-align: center;
}

.headingsContainer p {
  color: gray;
}
.mainContainer {
  padding: 16px;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.subcontainer a {
  font-size: 16px;
  margin-bottom: 12px;
}

span.forgotpsd a {
  float: right;
  color: WhiteSmoke;
  padding-top: 16px;
}

.forgotpsd a {
  color: RGB(74, 146, 235);
}

.forgotpsd a:link {
  text-decoration: none;
}

.register {
  color: white;
  text-align: center;
}

.register a {
  color: RGB(74, 146, 235);
}

.register a:link {
  text-decoration: none;
}

/* Media queries for the responsiveness of the page */
@media screen and (max-width: 600px) {
  form {
    width: 25rem;
  }
}

@media screen and (max-width: 400px) {
  form {
    width: 20rem;
  }
}
