* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Styling the header */
header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;

}

header:hover {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 2px solid #002c6f;
}

/* Styling the main section */
main {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  min-height: 100vh;
  background-color: #1db954;
  padding-top: 20px;
  padding-bottom: 20px; /* Add padding at the bottom */
}

/* Styling the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #ffffff;*/
  padding: 20px;
  /*border-radius: 10px;*/
  width: 500px;
  margin: 0 auto;
  flex-wrap: wrap;
  /*color: aliceblue;*/
  color: #000000;
  /*border: 2px solid black;*/
  height: auto;
}

form label {
  font-weight: bold;
  font-size: large;
}


/* Styling the form inputs */
form input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  /*border-radius: 5px;*/
  border: 1px solid red;
  width: 100%;
  outline: none;
  /*outline-color: #002c6f;*/
}

/* Styling the submit button */
.button1,.button2 {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button1:hover {
  font-weight: bold;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.button2:hover {
  font-weight: bold;
  background-color: red;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}




/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
  /* Adjust the form width and padding for smaller screens */
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
  }

  /* Adjust the form input width for smaller screens */
  form input {
    width: 90%;
   /*background-color: #00102a;*/
    line-height: 1.5rem;
  }

  /* Adjust the header text size for smaller screens */
  header h1,
  header h4 {
    font-size: 1.2em;
  }
}
/*main {*/
/*    background:*/
/*            linear-gradient(0deg, rgb(255, 123, 114,0.3) 2px, transparent 1px),*/
/*            linear-gradient(90deg, rgb(138, 5, 255,0.3) 2px, transparent 1px);*/
/*    background-size: 100px 100px;*/
/*}*/
