* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222426;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-weight: bold;
  background: #222426;
  color: white;
}
table:hover {
  background-color: #1b1f23;
  color: white;
}

table,
th,
td {
  border: 1px solid #070707;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

.button {
  /*Default styles for the button /*/
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  /*/ Styles for the button when hovered *!*/
  background-color: white;
  color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
